{% extends "layout.html" %}

{% block content %}
  
  <div class="page-header">
    <h1>{{title}}!</h1>
  </div>
  <div class="row">
    <div class="col-md-3">
      <img src="https://pbs.twimg.com/profile_images/2450268678/olxp11gnt09no2y2wpsh_normal.jpeg"><br>
      <b>Your Name</b><br>
      100 followers
    </div>
    <div id='tweet-container' class="col-md-9 list-group">
    
      <!-- display tweets here -->
      {% for tweet in tweets %}

        <li class="tweetbox list-group-item">
          <img src="http://lorempixel.com/48/48">
          <p class="content"><a class = "by" href="/users/{{tweet.name}}">{{tweet.name}}</a></p>
          <p class="content"><a href="/users/{{tweet.name}}/tweets/{{tweet.id}}">{{tweet.text}}</a></p>
        </li>
 
      {% endfor %}
      
    </div>

    {% if showForm %}
      <form class='form-inline' action="/submit" method="POST" style="margin-bottom: 20px">
        <div class="form-group">
          <label for="name_field">Name:</label>
          <input style="width: 200px;"  class="form-control" name="name" type="text" id="name_field" value="{{name}}" placeholder="Your name"/>
        </div>
        <div class="form-group">
          <label for="text_field">Text:</label>
          <input class="form-control" name="text" type="text" id="text_field" style="width: 350px;" placeholder="Your tweet here"/>
        </div>
        <input class="btn btn-default" type="submit" value="Submit"/>
      </form>
    {% endif %}

  </div>
    
{% endblock %}